<div class="w3-bar w3-black  w3-center">
  <a href="https://www.facebook.com/Cardoss" class="w3-bar-item w3-button w3-center"><i class="fa fa-facebook-official"></i></a>
  <a href="https://www.linkedin.com/in/cardos-stelian" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/steliancardos" class="w3-bar-item w3-button"><i class="fa fa-github"></i></a>
  <a (click)="loadComponent(1)" class="w3-bar-item w3-button w3-padding-small">Projects</a>
  <a (click)="loadComponent(2)" class="w3-bar-item w3-button w3-padding-small">Experience</a>
  <a (click)="loadComponent(3)" class="w3-bar-item w3-button w3-padding-small">Contact</a>
</div>