<header class="w3-container w3-center">
    <h1 class="w3-jumbo"><b>Stelian Cardos</b></h1>
    <p>Software developer</p>
    
    <div class="w3-bar w3-black w3-card">
      <a (click)="loadComponent(1)" class="w3-bar-item w3-button w3-padding-large">Projects</a>
      <a (click)="loadComponent(2)" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Experience</a>
      <a (click)="loadComponent(3)" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    </div>
</header>